body {
    background-color: white;
    font-family: 'Noto Sans', sans-serif;
    color: darkslategrey;
}
/*
#3f3f3f
*/
.headerStrip {
    background-color: #007bff;
    height: 80px;
    margin-top: 4%;
    margin-bottom: 4%;
    color: white;   
}

#intro {
    height: 600px;
}

.row {
    height: 100%;
}

#wave {
    width: 40rem;
}

img {
    size: 10rem;
    mix-blend-mode: multiply;
}

.modal-dialog {
    max-width: 700px;
}

h1 {
    font-size: 4rem;
}

.card-body {
    color: darkslategrey;
}

.scrolled {
    display: inline!important;
    transition: 5000ms;
}

h3 {
    font-size: 3.5rem;
}

.jumbotron {
    max-width: 864px;
}

#links a {
    color: white;
}

#end {
    margin-bottom: 0%;
}

#links {
    max-width: 400px;
}